*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color:white;
    --main-color:#ff0000;
    --secondly-color :#6c0000;
}
/*First Section*/
#Accueil {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('images/IMG_6950.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
    position: relative;
    text-align: center;
    animation: fadeIn 2s forwards;
}

#Accueil::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(139, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    z-index: 2; 
    pointer-events: none; 
}

#Accueil .more, #Accueil h1, #Accueil p {
    position: relative;
    z-index: 3; 
    color: white;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
} 
  .more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .more:hover {
    background-color: var(--secondly-color);
  }

  .code-animation {
    
    font-size: 2rem; 
    color: white;
    z-index: 5;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.cursor {
    display: inline-block;
    background-color: white;
    width: 3px;
    height: 1.2em;
    animation: blink 0.6s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
/*First Section*/

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/*Second Section*/
header {
    position: sticky; 
    top: 0; 
    z-index: 10; 
    padding: 0.2rem 12%;
    background: var(--bg-color); 
    backdrop-filter: blur(10px);
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
   
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--second-bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}
.logo img{
    width: 20%;
    cursor: pointer;
    margin-left: -5%;
    transition: 0.3 ease-in-out;
}
.logo img:hover{
    transform: scale(1.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: -20%;
  transition: transform 0.3s ease-in-out;
}

/* On mobile, make the navbar hidden */
.navbar.show {
  transform: translateX(0);
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

#overlay.active {
  display: block;
}

.menu-toggle button {
  display: none;
}
.navbar a {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom:  3px solid var(--main-color);
}

#home {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.home-content {
    position: relative;
    text-align: center;
    z-index: 2;
    color: white;
    padding: 20px;
}

.title {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.1); 
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    white-space: nowrap;
    font-weight: 900;
    letter-spacing: 10px;
}
h2{
    font-size: 2rem;
    bottom: 80%;
}
.description {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 30px;
}

#home a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

#home a:hover {
    text-decoration: underline;
}
/*Second Section*/

/* Third Section */
#Education {
    text-align: center;
    margin-top: 50px;
    height: 110vh;
}

.education-content {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.school-logo {
    width: 100%; 
    height: 100%; 
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.school-logo:hover {
    transform: scale(1.1);
}

.reveal-info {
    display: none; 
    background: var(--second-bg-color);
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    top: 120%; 
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 10px;
}

.efrei, .oc {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.efrei:hover .reveal-info,
.oc:hover .reveal-info {
    display: block;
    opacity: 1;
    transform: translateY(0); 
}

h4 {
    font-size: 2rem;

}
.title2 {
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.1); 
    position: absolute;
    top: 210%;
    left: 50%;
    height: 5%;
    transform: translate(-50%, -50%);
    z-index: 5;
    white-space: nowrap;
    font-weight: 900;
    letter-spacing: 10px;
}
h6{
  height: 20%;
}
/* Third Section */


/* Fourth Section */
#Compétences {
   
    background-color: var(--bg-color);
    text-align: center;
    margin-top: 20%;
    height: 100vh;

}

#Compétences h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.competences-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.competences-card {
    background-color: var(--second-bg-color);
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competences-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 22px var(--secondly-color);
}

.competences-card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.competences-card p {
    font-size: 1rem;
    color: var(--text-color);
}
.title3 {
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.1); 
    position: absolute;
    top: 298%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    white-space: nowrap;
    font-weight: 900;
    letter-spacing: 10px;
}
#Compétences h4{
    margin-bottom: 10%;
}

/* Fourth Section */

/*Fifth section*/
#portfolio {
    padding: 50px 0;
    background-color: var(--bg-color);
    text-align: center;
}

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.filters {
    margin-bottom: 30px;
}

.filter-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.filter-btn.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.filter-btn:hover {
    background-color: var(--secondly-color);
}

.projects {
    display: flex; 
    flex-wrap:wrap; 
    justify-content:center; 
    gap: 20px; 
}

.project-card {
    box-sizing: border-box; 
    max-width: 300px; 
    display: block;
    opacity: 1;
    background-color: var(--second-bg-color);
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-card.hide {
    opacity: 0; 
    transform: scale(0.8);
    pointer-events: none; 
}

.project-card.show {
    display: block; 
}

.project-card img {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px;
}


.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.project-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.project-card p {
    font-size: 0.9rem;
    color: #ffffff;
}
.project-card a{
    color: var(--main-color);
    font-weight: bold;
}
.project-card a:hover{
    color: var(--text-color);
    border-bottom:  1px solid ;
}

/*Fifth section*/

/*Sixth Section*/
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--bg-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #Contact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: var(--secondly-color);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 5;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: var(--second-bg-color);
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, var(--secondly-color));
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--secondly-color);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title4 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: var(--secondly-color);
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title4 {
    color: var(--text-color);
    
  }
  
  .text {
    color: var(--text-color);
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: var(--text-color);
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: var(--text-color);
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, var(--main-color), var(--secondly-color));
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid var(--main-color);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square{
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title4 {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
  
/*Sixth Section*/


 /*---------RESPONSIVE---------------*/
 @media (max-width: 1024px){
    .title{
      font-size: 6rem;
    }
    .title2{
        font-size: 6rem;
    }
    .title3{
        font-size: 5rem;
        padding-top: 30%;
    }
 }
 @media (max-width: 2560px){
    .title3{
        font-size: 3.5rem;
        padding-top: 34%;
    }
    .title2{
        padding-bottom: 24%;
    }
 }
 @media (max-width: 1194px){
    .title{
      font-size: 4rem;
    }
    .title2{
        font-size: 3.8rem;
    }
    .title3{
        font-size: 3.5rem;
        padding-top: 30%;
    }
 }
 @media (max-width: 1440px){
    .title2{
        padding-bottom: 18%;
    }
 }
 
 @media (max-width: 768px){
    .title2{
        font-size: 3.8rem;
        padding-bottom: 30%;
    }
    .title3{
        font-size: 3.5rem;
        padding-bottom: 15%;

    }
    .logo{
        display: block;
        height: 80%;
        width: 80%;
    }
    .header{
        display: flex;
        justify-content: center;
        padding-left: 20%;
    }
   
    .sticky{
        display: flex;
        justify-content: center;
        background-color: var(--second-bg-color);
    }
    #Compétences{
        height: 150vh;
    }
    
    .reveal-info{
      display: block;
    }
    .menu-toggle button {
      display: inline-block;
      cursor: pointer;
  }
  
  .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 50%;
      height: 110vh;
      background-color: var(--bg-color);
      flex-direction: column;
      align-items: first baseline;
      gap: 10px;
      border-left: 1px solid var(--second-bg-color);
      justify-content: center;
      transition: right 300ms ease-in-out;
      z-index: 10;
  }

  .navbar.show {
      left: 70%;
  }
  #open-sidebar-button svg{
    height: auto;
    width: 45%;
    
    fill: white;
  }

  #close-sidebar-button {
      display: inline-block;
  }
 }
 @media (max-width: 699px){
        
        .navbar a{
            font-size: 1rem;
        }
        .title3{
            font-size: 3rem;
            padding-bottom: 25%;
        }
        .title2{
            font-size: 3rem;
            padding-bottom: 25%;
        }
        .title{
            font-size: 3rem;
            padding-bottom: 15%;
        }
        .logo img{
          margin-top: 2%;
          height: 80%;
          width: 22%;
        }
 }
 @media (max-width: 640px){
        
    .navbar a{
        font-size: 1rem;
    }
    .title3{
        font-size: 2rem;
        padding-bottom: 80%;
    }
    .title2{
        font-size: 2.5rem;
        padding-bottom: 38%;
    }
    .title{
        font-size: 2.5rem;
        padding-bottom: 13%;
    }
    .efrei{
        width: 30%;
        height: 30%;
    }
    .oc{
        width: 30%;
        height: 30%;
    }
    .reveal-info{
        width: 100%;
        font-size: 0.5rem;
    }
    .efrei,
    .oc{
        width: 20%;
    }
}
@media (max-width: 508px) {
  .navbar a {
      font-size: 0.6rem;
  }

  .home-content p {
      font-size: 0.8rem;
  }

  .title2 {
      font-size: 0.5rem;
      padding-bottom: 40%;
  }

  .title3 {
      font-size: 1rem;
      padding-top: 120%;
  }

  .education-content {
      display: flex;
      align-items: center; 
      flex-direction: column;
      gap: 100px; 
  }

  #Compétences {
      margin-bottom: 120%;
  }

  .reveal-info {
    text-align: center;
    position: absolute;
    opacity: 1;
    margin-right: 10%;
    border-radius: 10px;
    font-size: 0.6rem;
    line-height: 1.5; 
    width: 200px; 
    max-width: 300px; 
  }
  .logo img{
    margin-top: 2%;
    height: 80%;
    width: 32%;
  }

  .efrei,
  .oc {
      width: 20%;
  }

  .oc {
      margin-top: 15%;
  }
}
@media (max-width: 373px){
    .title{
        font-size: 0.8rem;
        padding-bottom: 30%;
    }
    .title3{
        font-size: 0.5rem;
    }
    .navbar a{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.45rem;
        
    }
    .reveal-info{
        width: 180%;
        display: flex;
        
        font-size: 0.5rem;
    }
    .efrei,
    .oc{
        width: 20%;
    }
    .oc {
        margin-top: 15%;
    }
    .logo img{
      margin-top: 2%;
      height: 80%;
      width: 42%;
    }
}